<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>DeepSeek智能问答机</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1>智能问答机</h1>
    <div id="chat-box"></div>
    <div id="customAlert" class="custom-alert"></div>
    <!--        <input type="text" id="question" placeholder="输入你的问题...">-->
    <div id="input-container">
        <textarea id="question" placeholder="输入您的问题..." rows="1"></textarea>
        <div id="input-actions">
            <button onclick="sendText()" title="发送问题给deepseek" id="send-btn">发送(Enter)</button>
            <button id="speak-btn">语音输入</button>
        </div>
    </div>

    <script>
        const input_question = document.getElementById("question");
        const send_btn = document.getElementById("send-btn");
        const alertBox = document.getElementById("customAlert");

        input_question.addEventListener("keydown", (e) => {
            if (e.key === "Enter") {
                e.preventDefault(); // 阻止输入框换行
                send_btn.click();   // 触发发送
            }
        });

        // 录音按钮部分处理逻辑
        let isRecording = false;
        let mediaRecorder;
        const audioChunks = [];
        const recordButton = document.getElementById("speak-btn")

        recordButton.addEventListener('click', async () => {
            if (!isRecording) {
                isRecording = true;
                recordButton.textContent = "录音中...";
                recordButton.classList.add('recording');
                const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                mediaRecorder = new MediaRecorder(stream);

                mediaRecorder.ondataavailable = (event) => {
                    audioChunks.push(event.data);
                };
                // 绑定关闭函数
                mediaRecorder.onstop = async () => {
                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                    audioChunks.length = 0;
                    try {
                        const formData = new FormData();
                        formData.append('audio', audioBlob, 'recording.wav');

                        const response = await fetch('/transcribe', {
                            method: 'POST',
                            body: formData
                        });
                        const result = await response.json();
                        if (result.text) {
                            appendMessage('bot', "录音转换成功: " + result.text);
                        } else {
                            // appendMessage('bot', "转文字失败: " + (result.error || ''));
                            appendMessage('bot', "转文字失败: " + (result.audio_path || ''));
                        }
                    }catch (e){
                        appendMessage('bot', "录音失败: " + e.message);
                    }
                }
                try{
                    mediaRecorder.start()
                }catch (error){
                    appendMessage('bot', "发送录音失败: " + error.message);
                    mediaRecorder.stop()
                }

            }else{
                isRecording = false;
                recordButton.textContent = "语音输入";
                recordButton.classList.remove('recording');
                alertBox.textContent = "正在转换";
                alertBox.classList.add("show"); // 显示

                mediaRecorder.stop()
                mediaRecorder.stream.getTracks().forEach(track => track.stop());

                setTimeout(() => {
                    alertBox.classList.remove("show"); // 隐藏
                }, 1000);
            }
        })


        function appendMessage(sender, message) {
            const chatBox = document.getElementById('chat-box');
            const msgDiv = document.createElement('div');
            msgDiv.className = sender;
            msgDiv.innerHTML = message;
            chatBox.appendChild(msgDiv);
            chatBox.scrollTop = chatBox.scrollHeight;
        }

        function sendText() {
            const question = document.getElementById('question').value;
            if (!question){
                alertBox.textContent = "未输入文本";
                alertBox.classList.add("show"); // 显示
                setTimeout(() => {
                    alertBox.classList.remove("show"); // 隐藏
                }, 1000);
                return;
            }

            appendMessage('user', question);
            document.getElementById('question').value = '';

            fetch('/ask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `text=${encodeURIComponent(question)}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.text) {
                    appendMessage('bot', data.text);
                }
            });
        }

    </script>
</body>
</html>
